@model RealStateDataModel.DTOs.TbPropertyDTO

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Property</h1>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdProperty" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodeInternal" class="control-label"></label>
                <input asp-for="CodeInternal" class="form-control" />
                <span asp-validation-for="CodeInternal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdOwner" class="control-label"></label>
                <select asp-for="IdOwner" class="form-control" asp-items="ViewBag.IdOwner"></select>
                <span asp-validation-for="IdOwner" class="text-danger"></span>
            </div>
            <hr />
            <div class="form-group">
                <label class="control-label">Add Image</label>
                <input type="file" name="imagenSubida" accept="image/*" enctype="multipart/form-data" />
            </div>
            <hr />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@if (Model.Slides.Count > 0)
{
    <hr />
    <h2>Images</h2>
    <div class="image-container">
         @foreach (var slide in Model.Slides)
            {
                <div class="image-thumbnail">
                    <img src="@slide.ImageUrl">
                    <hr />
                </div>
            }
    </div>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
