@{
    ViewData["Title"] = "Phanor Mesias Test";
}

<div class="text-center">
    <h2 class="display-4">Test de Codigo Presentado por</h2>
    <h1 class="display-4">Phanor Mesias</h1>
    <p>Ingeniero de Sistemas - Especializado en Gerencia de TI</p>
    <br />
    <p><a asp-controller="TbOwners" asp-action="Index">Owner</a></p>
    <p><a asp-controller="TbProperties" asp-action="Index">Properties</a></p>
</div>
